footer {
    background-color:black;
    color:#ffffff;
    background-repeat: no-repeat;
    height: auto;
    margin:0 auto;
    padding:3rem;
    width:90%;
    justify-content:center;
    display:flex;



   .footer-text {
       text-align: left;
       margin-right:20px ;
   }
    
   .footer-text2 {
      text-align: right;
      justify-items: right;
      margin-left: 15rem;
      position: relative;
      display: flex;
      float: center;
   }

   .text {
     float: right;
     margin-right: 10px;
     justify-content: right;
     justify-items: right;
   }
}

